@font-face {
  font-family: Silkscreen-Regular;
  src: url(../public/fonts/Silkscreen-Regular.ttf);
}

:root {
  --player-one-color: #8fed8f;
  --player-two-color: #f38a35;
}

body,
html {
  padding: 0;
  margin: 0;
  background: #121212;
  color: #e6e6e6;
  font-family: "Silkscreen-Regular", Arial, Helvetica, sans-serif;
}

body {
  background-image: url(./assets/space-grid-by-ivan-voirol.png);
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

#board {
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#tile {
  aspect-ratio: 1;
  width: 32px;
  height: 32px;
  background: url("src/assets/dance-floor-tile-PwBB-Desaturated-32px.png") no-repeat;
}

.player {
  width: 32px;
  height: 32px;
  z-index: 10;
}

#player-1 {
  background-color: var(--player-one-color);
}

#player-2 {
  background-color: var(--player-two-color);
}

ul {
  list-style: none;
  font-size: min(14px, 3vw);
  padding: 0;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

li {
  opacity: 0.5;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

li img {
  width: 20vw;
  height: 20vw;
  margin-top: 6.4vw;
  margin-bottom: 2.1vw;
}

li[data-your-turn="true"] {
  opacity: 1;
}

li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13vw;
  height: 13vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

li[data-player="0"]:before {
  background-image: url(./assets/x.svg);
}

li[data-player="1"]:before {
  background-image: url(./assets/o.svg);
}
